
.benefits {
  padding: 84px 0 93px 0;
  background-color: $white;
}

.benefits__container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;

  @media screen and ( max-width: $laptop-bp) {
    justify-content: center;
  }
}

.benefits__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.benefits__item {
  margin-bottom: 30px;

  display:flex;
  align-items: center;
  justify-content: space-between;

}

.benefits__item-text {
  margin-right: 10px;
}

.benefits__svg-container {
  max-width: 100%;
  margin-right: 30px;

  @media screen and ( max-width: $tapik-bp) {
    margin-right: 10px;
  }
}

.benefits__image {
  cursor: pointer;

  @media screen and ( max-width: $tapik-bp) {
    width: 100%;
  }
}

.benefits__image-img {
  width: 100%;


  @media screen and ( max-width: $mobile-bp) {
    margin: 0 25px ;
  }

  @media screen and ( max-width: $tapik-bp) {
    margin: 0;
  }
}

