
.benefits {
  padding: 84px 0 83px 0;
  background-color: $white;

  @include breakpoint ($mobile-bp) {
    padding: 54px 0 53px 0;
  }
}

.benefits__container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;

  @include breakpoint ($laptop-bp) {
    justify-content: center;
  }
}

.benefits__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.benefits__item {
  margin-bottom: 30px;

  display:flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint ($tapik-bp) {
    flex-wrap: wrap;
    justify-content: center;
  }

}

.benefits__item-text {
  margin-right: 10px;

  @include breakpoint ($tapik-bp) {
    margin-right: 0;
    margin-top: 10px;
  }
}

.benefits__svg-container {
  max-width: 100%;
  margin-right: 30px;

  @include breakpoint ($tapik-bp) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.benefits__image {
  cursor: pointer;

  @include breakpoint ($mobile-bp) {
    width: 100%;
  }
}

.benefits__image-img {
  width: 100%;
  max-width: 500px;


  @include breakpoint ($mobile-bp) {
    margin: 0 25px ;
  }

  @include breakpoint ($tapik-bp) {
    margin: 0;
  }
}

