.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &--mobile {
    flex-direction: column;
  }
}

.menu__list {
  position: relative;
  list-style: none;

  &--mobile {
    margin-top: 63px;
  }

  &:hover .menu__link,
  &:hover .menu__svg path{
    stroke: $yellow;
    color: $yellow;
  }
}

.menu__list:not(:first-child) {
  margin-left: 63px;
}

.menu__link {
  text-decoration: none;

  font-family: Myriad, 'sans-serif';
  font-size: 16px;
  font-weight: 500;
  line-height: 108%; /* 17.28px */

  color: $black;
  transition: .4s ease color;
}

.menu__svg {
  margin-left: 6px;
}
.menu__svg path {
  transition: .4s ease stroke;
}
