
.register-section {
  padding: 104px 0 53px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

}

.register-section__wrap-position {
  position: absolute;
  top: calc(-13% - 206px);
  left: calc(50% - 365px);

  @media screen and ( max-width: $laptop-bp) {
    top: calc(-24% - 206px);
    left: calc(30% - 207px);
  }

  @media screen and ( max-width: $tablet-bp) {
    top: calc(-14% - 206px);
    left: calc(50% - 207px);
  }

  @media screen and ( max-width: $mobile-bp) {
    top: calc(-7% - 206px);
    left: calc(50% - 207px);
  }

  @media screen and ( max-width: $tapik-bp) {
    top: calc(-6% - 206px);
    left: calc(66% - 207px);
  }
}

.register-section__wrap {
  position: relative;
  padding-right: 28px;
  padding-bottom: 27px;
  border-radius: 20px;
  background: url(../images/path-to.png), lightgray -0.206px -7px / 100% 101% no-repeat;
  background-size: 65%;

}

.register-section__box {
  max-width: 770px;
  height: 413px;
  padding: 6px 54px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  background: linear-gradient(341deg, #F6D365 0%, #FBB471 50%, #FF8A68 100%);
  box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.6);

  &--other {
    background: linear-gradient(353deg, #FFD347 0%, #E87265 50.52%, #D11483 100%);
  }

  @media screen and ( max-width: $tablet-bp) {
    height: 100%;
    padding: 0;
  }
}

.registration-section__dust-jacket {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--position {
    position: relative;
    z-index: 1;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}

.register-section__icon {
  position: absolute;
  top: calc(0% - 62px);
  right: calc(0% - 65px);

  @media screen and ( max-width: $laptop-bp) {
    top: calc(100% - 62px);
    right: calc(0% - 65px);
  }

  @media screen and ( max-width: $tablet-bp) {
    top: calc(100% - 62px);
    right: calc(9% - 65px);
  }

  @media screen and ( max-width: $mobile-bp) {
    top: calc(100% - 62px);
    right: calc(16% - 65px);
  }

  @media screen and ( max-width: $tapik-bp) {
    top: calc(100% - 62px);
    right: calc(27% - 65px);
  }
}

.registration-section__form {
  padding: 27px 0 33px 33px;

  @media screen and ( max-width: $tablet-bp) {
    padding: 10px 5px 10px 10px;
  }
}

.register-section__view {
  display: block;


  &--footer {
    width: 393px;

    @media screen and ( max-width: $tablet-bp) {
      display: none;
    }
  }

}

.register-section__img {

  &--position {
    position: absolute;
    top: calc(50% - 205px);
    left: calc(75% - 196px);
    z-index: -1;

    @media screen and ( max-width: $tablet-bp) {
      top: calc(41% - 205px);
      left: calc(75% - 196px);
    }

    @media screen and ( max-width: $mobile-bp) {
      top: calc(-8% - 206px);
      left: calc(84% - 365px);
    }

    @media screen and ( max-width: $tapik-bp) {
      top: calc(-6% - 206px);
      left: calc(115% - 365px);
    }
  }
}
