
.text {

  font-size: 25px;
  font-weight: 600;
  line-height: 108%; /* 27px */

  color: $white;

  &--main {
    max-width: 415px;
    margin-top: 13px;

    @media screen and ( max-width: $tapik-bp) {
      font-size: 18px;
    }
  }

  &--register {
    max-width: 223px;
    margin-bottom: 19px;
    font-size: 20px;
    font-weight: 400;

    @media screen and ( max-width: $tapik-bp) {
      font-size: 18px;
    }
  }

  &--form {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
  }

  &--item {
    margin-top: 12px;
    text-align: center;
    font-family: Ubuntu, 'sans-serif';
    font-size: 13px;
    font-weight: 400;
    line-height: 130%; /* 16.9px */

    color: $black;
  }

  &--item-benefit {
    max-width: 370px;
    margin-top: 9px;
    font-size: 17px;
    font-weight: 400;

    color: $black;

  }

  &--our-teachers {

    font-size: 15px;
    font-weight: 400;
    line-height: 123.5%;

    color: $black;
  }

  &--comment {
    max-width: 316px;
    font-size: 15px;
    font-weight: 400;
    line-height: 123.5%; /* 18.525px */

    color: $black;

    @media screen and ( max-width: $laptop-bp) {
      font-size: 12px;
    }
  }

  &--comment-status {
    width: 86px;

    color: $textStatus;
    font-size: 13px;
    font-weight: 400;
    line-height: 123.5%; /* 16.055px */
  }

  &--always-question {
    font-size: 17px;
    font-weight: 400;
    line-height: 167%; /* 28.39px */

    color: $black;

    @media screen and ( max-width: $tablet-bp) {
      font-size: 15px;
    }

    @media screen and ( max-width: $tapik-bp) {
      font-size: 13px;
    }
  }

  &--year {
    margin-left: 57px;
    font-size: 17px;
    font-weight: 400;
    line-height: 167%; /* 28.39px */

    color: $black;
  }

}