<aside class="sidebar" id="sidebar" >
    <div class="sidebar__content">
        <nav class="menu menu--mobile">
            <ul class="menu menu--mobile" >
                <li class="menu__list  menu__list--mobile">
                    <a href="#" class="menu__link" data-scroll="scroll-benefits">О школе</a>
                    <svg class="menu__svg" width="13" height="9" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L6.5 7L12 1" stroke="black" stroke-linecap="round"/>
                    </svg>
                </li>
                <li class="menu__list  menu__list--mobile">
                    <a href="#" class="menu__link" data-scroll="scroll-card">Наши услуги</a>
                    <svg class="menu__svg" width="13" height="9" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L6.5 7L12 1" stroke="black" stroke-linecap="round"/>
                    </svg>
                </li>
            </ul>
        </nav>
    </div>
</aside>